#main-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#content {
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

@media screen and (max-height: 99px) {
    .box-action-bar,
    .box-central,
    .box-last-songs {
        display: none;
    }

    .box-bottom-bar {
        flex: 1;
    }
}

@media screen and (max-height: 299px) {
    .box-action-bar,
    .box-central {
        display: none;
    }
    .album-art-row .album-art-col:last-child {
        display: none;
    }
}

@media screen and (min-height: 300px) {
    .album-art-row .album-art-col:first-child {
        display: none;
    }
}

@media screen and (min-height: 300px) and (max-height: 499px) {
    .box-action-bar,
    .logo {
        display: none;
    }

    .current-album-art {
        max-width: 300px;
        max-height: 170px;
    }
}

@media screen and (min-height: 500px) {
    .box-action-bar,
    .box-bottom-bar,
    .box-last-songs {
        min-height: 60px;
    }
    .current-album-art {
        max-width: 300px;
        max-height: 200px;
    }
    .box-last-songs {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .box-central .logo-container {
        flex: 1;
        max-width: 300px;
        max-height: 300px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .box-central .logo-container img,
    .box-central .current-art-container img {
        width: 100%;
    }
    .box-central .current-art-container {
        flex: 1;
        max-width: 40%;
        max-height: 30%;
        display: block;
        margin-bottom: 10px;
    }
    .logo {
        max-height: 3em;
    }
    .logo.square {
        width: auto !important;
    }
}

@media screen and (min-height: 600px) {
    .box-central .logo-container {
        margin-bottom: 30px;
    }
    .box-central .current-art-container {
        margin-bottom: 30px;
    }
    .current-album-art {
        max-width: 300px;
        max-height: 400px;
    }
}
