body {
    font-family: Roboto;
}

#main-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#content {
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

.box {
    border: 0;
    border-radius: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 0;
    flex: none;
    display: flex;
    overflow: hidden;
}

.box-valign-center,
.box-error {
    align-items: center;
}

.box-central {
    flex-direction: column;
}

.box-central,
.box-loading,
.box-error {
    flex: 2;
    justify-content: center;
}

.box-loading svg {
    align-self: center;
}

.box-error {
    font-size: 25px;
}

@media screen and (max-height: 100px) {
    .box-error {
        font-size: 18px;
    }
}

.box-dark {
    background-color: #607D8B;
    color: white;
}

.box-light {
    background-color: white;
    color: #212121;
}

.box-action-bar,
.box-bottom-bar,
.box-last-songs {
    min-height: 50px;
}

.box-action-bar {
    justify-content: flex-end;
}

.play-stop-button,
.link-button {
    display: inline;
    border: 0;
    background: none;
    font-size: 20px;
    transition: opacity 0.1s linear;
    text-decoration: none !important;
}

.play-stop-button {
    margin-left: auto;
    margin-right: 0;
}

.link-button:not(:last-child) {
    margin-right: 30px;
}

.link-button:last-child {
    margin-right: 10px;
}

.play-stop-button:hover,
.link-button:hover {
    opacity: 0.8;
}

.bottom-bar-message {
    font-size: 16px;
    flex: 1;
}

.bottom-bar-message span.long-text {
    width: 100%;
    display: block;
    display: -moz-box; /* workaround for Firefox -- unsure why this is needed
                          TODO: figure out what is wrong */
}

.logo {
    width: 50%;
}

.box-last-songs {
    display: flex;
    flex: 1;
    justify-content: center;
}

.album-art {
    flex: 1;
    width: 100%;
    height: 100%;
}

.album-art:not(:last-child) {
    margin-right: 15px;
}
